<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div id="blog-posts-events-demo">
      <div :style="{ fontSize: postFontSize + 'em' }">
        <blog-post
          v-for="post in posts"
          v-bind:key="post.id"
          v-bind:post="post"
          v-on:enlarge-text="postFontSize += $event"
        >
        </blog-post>
      </div>
      <!-- 支持 v-model 的自定义输入组件 -->
      <input v-model="searchText" />
      <!-- 通过插槽分发内容：没有效果？？ -->
      <br />
      <alert-box>
        <template v-slot:pre-icon="{value}">
          <span>前置图标 {{value}}</span>
        </template>
        <template v-slot:suf-icon>
          <span>后置图标</span>
        </template>
      </alert-box>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      Vue.component("blog-post", {
        props: ["post"],
        template: `<div class="blog-post">
      <h3>{{ post.title }}</h3>
      <button v-on:click="$emit('enlarge-text', 0.1)">Enlarge text</button>
				  <div v-html="post.content"></div>
      		</div>`,
      });

      Vue.component("alert-box", {
        data: function () {
          return {
            value: Math.random(),
          };
        },
        template: `
			<div class="demo-alert-box">
				<slot name="pre-icon" :value="value"></slot>
				<strong>Error!</strong>
				<slot name="suf-icon">不传递后置则直接显示这段文字</slot> <!- 默认 ->
			</div>
		`,
      });

      Vue.component("todo-item", {
        props: {
          title: String,
          del: {
            type: Boolean,
            default: false,
          },
        },
        template: `
      <li>
      	<span v-if="!del">{{title}}</span>
      	<button v-show="!del" @click="handleClick">Delete</button>
      </li>
      `,
        data: function () {
          return {}; //变量声明
        },
        methods: {
          handleClick() {
            console.log("点击删除按钮");
          },
        },
      });

      new Vue({
        el: "#blog-posts-events-demo", //将vue实例挂载到DOM上
        data: {
          searchText: "12",
          message: "Hello world",
          posts: [
            { id: 1, title: "My journey with Vue", content: "...content..." },
            { id: 2, title: "Blogging with Vue", content: "...content..." },
            { id: 3, title: "Why Vue is so fun", content: "...content..." },
          ],
          postFontSize: 1,
        },
        methods: {
          handleClick() {
            console.log("Click!");
          },
        },
      });
    </script>
  </body>
</html>
